<h1>Showing Selected Article</h1>

<h2>
<a href="/users/<%=@article.author.slug %>">@<%=@article.author.username%></a></h2>
<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>
<% if @article.author == current_user %>
  <a href="/articles/<%= @article.id %>/edit">Edit Article</a>
<% end %>
<br><br>

<form method="post" action="/articles/<%=@article.id%>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Article">
</form>

<a href="/">Back to articles listing</a>

