<h1>Showing Selected Article</h1>

<h2>
<a href="/users/<%=@article.user.slug %>">@<%=@article.user.username%></a></h2>
<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>
<% if @article.user == current_user %>
  <a href="/article/<%= @article.id %>/edit">Edit Article</a>
<% end %>
<br><br>
<form method="post" action="/article/<%=@article.id%>/delete">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Article">
</form>

<a href="/articles">Back to articles listing</a>

